.friendList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: block;
  margin: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.status {
  display: flex;
  width: 10px;
  height: 10px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  margin: 0 auto;
  margin-bottom: 10px;
}
