.navigation, .activeStyle {    
    margin-left: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(12, 12, 12);
    text-decoration: none;
}

.activeStyle {
    color: rgb(140, 104, 238);
    text-decoration: underline;
}

.navigation:hover {
    color: rgb(140, 104, 238);
}
