.transaction_history {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

tr:nth-child(odd) {
  background-color: #ccc;
  border: black;
}

tr:nth-child(even) {
  background-color: #ffc;
  border: black;
}

td,
th {
  font-size: 12px;
  height: 30px;
  width: 60px;
  outline: 1px solid rgb(241, 133, 133);
}
