h1 {
  text-align: center;
}

.phonebook {
  display: block;
  width: 400px;
  margin: 0 auto;
}

.form_contact {
  display: block;
  text-align: center;
}

.form_contact-input {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.form_contact-button {
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

.find_contact {
  display: block;
  text-align: center;
}

.find_contact-input {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.contact_list-button {
  margin-left: 15px;
  margin-top: 10px;
  list-style: auto;
}
